.title {
  color: green;

  .test1 {
    color: #282d3c ;
  }

  .test2 {
    color: #5b5d70 ;
  }

  .test3 {
    color: #74838c ;
  }

  .test4 {
    color: #ffc4b8 ;
  }

  .test5 {
    color: #f69197 ;
  }
}