@import './scss/tokens/colors.scss';
@import './scss/tokens/spacing.scss';

$selector: '.header';

#{$selector} {
  display: flex;
  height: 60px;
  background: $primaryDark;
  justify-content: space-between;
  align-items: center;
  padding: $globalPadding;

  &_title {
    font-size: 18px;
  }

  &_link {
    font-size: 13px;
    margin-left: 36px;
  }
}