@import './scss/utilities/themes.scss';
@import './scss/tokens/colors.scss';

@include lightTheme {
  --backgroundColor: white;
  --textColor: black;
}

@include darkTheme {
  --backgroundColor: #{$primaryDark};
  --textColor: white;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

html,
body {
  @import url('https://fonts.googleapis.com/css2?family=Alef&family=Catamaran:wght@600&display=swap');
  font-family: 'Catamaran', sans-serif;
  height: 100%;
  color: var(--textColor);
}

main {
  font-size: 3rem;
  font-weight: 600;
}