@import './scss/utilities/themes.scss';
@import './scss/tokens/colors.scss';

@include lightTheme {
  --backgroundColor: white;
  --textColor: black;
}

@include darkTheme {
  --backgroundColor: #{$primaryDark};
  --textColor: white;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //This defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

html,
body {
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 600;
}